.App{
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 8.5fr;
  grid-template-rows: 0.5fr 6fr;
  grid-template-areas: 
  "header groupTitle"
  "sidebar links";

}
header{
  grid-area: header;
}

.headerBar{
  width: 100%;
  display: flex;
  justify-content: flex-start;

}
.groupTitle{
  font-weight: normal;
  border: none;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.description{
}
.gDropdown{
  display: inline-flex;
  justify-content: flex-end;
}
.links-header{
  grid-area: groupTitle;
  display: flex;
}
.openGroup{
  justify-content: flex-end;
}
.group-list{
  grid-area: sidebar;
}
.groupitem{
  text-align: center;
  display: flex;
  opacity: 0.7;
  padding: 4px;
  background-color: darkgray;
}

.groupitemactive{
  text-align: center;
  display: flex;
  padding: 4px;
}
.links-list{
  background-color: #c9c9c9;
  grid-area: links;
  overflow:hidden;
  overflow-y:scroll;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lul > li{
  display: flex;
  background-color: white;
  margin: 3px 3px 3px 3px;
  padding: 2.5px 0px 0px 2.5px;
  border-radius: 5px;
  white-space: nowrap;

  /*
  outline-style: solid;
  outline-width: 1px;
  outline-color: #696969;
  */
}
.link-item {
  display: flex;
  justify-content: space-between;
}
.linktext{
  text-align: left;
  overflow: hidden;
  text-overflow: clip;
  overflow-x: scroll;
}
.input_button_group{
  display: flex;
  height: 32px;
}
.addLink{
  width: 32px;
  border-radius: 5px 0px 0px 5px;
}
input {
  border-radius: 0px 5px 5px 0px;
  border-left: none;
  width: 95%;
}

h1 {
  font-size: 16px;
}
/* Hide scrollbar for Chrome, Safari and Opera */


.App li svg {
  height: 1rem;
  color: #000;
}


.colorButton{
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.colorContainer{
  margin:10px;
}