.App{
  display: grid;
  max-width: 100%;
  background-color: #212121;
  grid-template-columns: 1.2fr 8.5fr;
  grid-template-rows: 0.5fr 6fr;
  grid-template-areas: 
  "header groupTitle"
  "sidebar links";

}
header{
  grid-area: header;
  background-color: #212121;
  color: #fff;
}

.headerBar{
  align-items: center;
  background-color: #212121;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.groupTitle{
  font-weight: normal;
  border: none;
  padding: 6px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 7px;
  justify-content: flex-start;

  cursor: pointer;
}


.description{
  font-weight: normal;
  border: none;
  padding: 6px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  justify-content: flex-start;

}
.gDropdown{
  display: inline-flex;
  justify-content: flex-end;
}
.links-header{
  grid-area: groupTitle;
  display: flex;
}
.openGroup{
  justify-content: flex-end;
}
.group-list{
  grid-area: sidebar;
  background-color: #292929;
}
.groupitem{
  text-align: center;
  display: flex;
  opacity: 0.8;
  padding: 6px;
  color: white;

}

.groupitemactive{
  background-color: white;
  text-align: center;
  display: flex;
  padding: 6px;
  border-radius: 0px 7px 7px 0px;
}

 .groupitemactive .groupitem{
   border-right-style: solid;
   border: 2px;
 }

.links-list{
  background-color: #292929;
  grid-area: links;
  overflow: hidden;
  overflow-y: scroll;
  overflow: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /*overflow-y:auto*/
}
.lul > li{
  display: flex;
  background-color: #494949;
  color: #fff;
  margin: 3px 3px 3px 3px;
  padding: 3.5px 6px 2.5px 6px;
  border-radius: 7px;
  white-space: nowrap;
}
.link-item {
  justify-content: space-between;
}
.linktext{
  margin-top: 8px;
  margin-bottom: 8px;

  text-align: left;
  overflow: hidden;
  text-overflow: clip;
}
.favicon{
  align-self: center;
}


.input_button_group{
  display: flex;
  height: 32px;
}
.addLink{
  width: 32px;
  border-radius: 5px 0px 0px 5px;
}
input {
  border-radius: 0px 5px 5px 0px;
  border-left: none;
  width: 20%;
}

h1 {
  font-size: 16px;
}
/* Hide scrollbar for Chrome, Safari and Opera */

.colorButton{
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.colorContainer{
  margin:10px;
}
.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
}
.tertiaryButton{
  font-size: small;
  background: none;
	color: lightgray;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.secondaryButton {
  margin: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 2px;
  text-align: center;
  text-decoration: none;
  backface-visibility: hidden;
  border: 2px solid transparent;
  border-radius: 7px;
  width: 95%;
  cursor: pointer;
}

.deleteButton{
  padding: 6px;
  display: flex;
  justify-content: end;
}

.bn36 {
  border-color: #252525;
  color: white;
  background-color: #494949;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn36 :hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.removeLinkButton{
  cursor: pointer;
  font-size: large;
  border:none;
  background-color:transparent;
  outline:none;
}