/* Style The Dropdown Button */
.dropbtn {
    padding: 8px;
    font-size: 8px;
    margin-right: 40px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

  }
  /*display: flex;
    flex-direction: column;*/
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    /* top | right | bottom | left */
    right: 0;
    display: none;
    position: absolute;
    border-color: #252525;
    color: white;
    background-color: #494949;
    min-width: 80px;
    /*box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    }
  /* padding: 12px 16px;*/
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */

